<div class="dropdown">
		
	<span>Cadastrar um compromisso</span>

	<ul class="nav navbar-nav navbar-right">
		<li class="active">
         	<a href="http://localhost:3000/empregados"><%= image_tag('u48.png', class: "ico")%>Empregados</a>
      	</li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
		<li class="active">
         	<a href="http://localhost:3000/empresas"><%= image_tag('u44.png', class: "ico")%>Empresa</a>
      	</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="active">
         	<a href="http://localhost:3000/compromissos"><%= image_tag('u43.png', class: "ico")%>Compromissos</a>
      	</li>
	</ul>
	
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<!DOCTYPE html>
