<footer class='container'>
	
	<div>
		<small>
			<a href="#"><%= image_tag('logo.png', class: "ico_footer")%></a>
		</small>
	</div>
	<div class="footer-copyright">© GRUPO RCS - Engenharia no Estado da Arte:
		<a href="https://www.rcstecnologia.com.br"> RCS Tecnologia.com.br </a>
	</div>
</footer>


